groq
python-dotenv
Pillow
pytesseract
opencv-python
numpy
pandas
PyPDF2
python-pptx
openpyxl
python-docx
spacy
presidio-analyzer
presidio-anonymizer
transformers
Wand
pdf2image
streamlit
flask
tqdm
requests
pathlib
